
body {
background: rgb(22, 31, 33);
background-image:url("galaxy.jpg");
}

.mg {
  margin-top: 7%;
}

.nav-heigth {
  height: 20%;
}

.movie-img {
  width: 100%;
}

#table1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table1 td, #table1 th {
  border: 1px solid #ddd;
padding: 8px;
}
  
  #table1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table1 td, #table1 th {
  border: 1px solid #ddd;
  padding: 8px;
}
}