<div class ="contenedor">
	<div *ngFor="let vehicle of vehiclesResults">
      <div class="contenedor_tarjeta"> 
                <figure>
				<h3>{{vehicle.name}}</h3>
                 <img class= "responsive-img movie-img" [src]="vehicle.img">
				     <br>
                  <span class="card-title grey lighten-4">{{vehicle.name}}</span>
                         <figcaption class="trasera">
               <ul>
                  <li>
                    <label>Modelo: </label>
                    {{ vehicle.model }}
                  </li>
                  <li>
                    <label>Fabricante: </label>
                    {{ vehicle.manufacturer }}
                  </li>
                  <li>
                    <label>Costo en creditos: </label>
                    {{ vehicle.cost_in_credits }}
                  </li>
                  <li>
                    <label>Longitud: </label>
                    {{ vehicle.length }}
                  </li>
                  <li>
                    <label>Maxima velocidad atmosferica: </label>
                    {{ vehicle.max_atmosphering_speed}}
                  </li>
                  <li>
                    <label>Tripulacion: </label>
                    {{ vehicle.crew }}
                  </li>
                  <li>
                    <label>Pasajeros: </label>
                    {{ vehicle.passengers }}
                  </li>
                  <li>
                    <label>Capacidad de carga: </label>
                    {{ vehicle.cargo_capacity }}
                  </li>
                  <li>
                    <label>Consumibles: </label>
                    {{ vehicle.consumables }}
                  </li>
                  <li>
                    <label>Clase de vehiculo: </label>
                    {{ vehicle.vehicle_class }}
                  </li>
                  <li>
                    <label>Films: </label>
                    <ul *ngFor="let film of arrayfilms">
                      <li>{{ film }}</li>
                    </ul>
                  </li>
                </ul>
                           </figcaption>
                </figure>
			</div>
        </div>
