* { 
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f0f2f1;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.contenedor_tarjeta {
    margin: 20px;

}

.contenedor_tarjeta a {
    display: inline-block;

}

.contenedor_tarjeta:hover figure {
     -webkit-transform: perspective(600px) rotateY(180deg); 
     -ms-transform: perspective(600px) rotateY(180deg);
     -o-transform: perspective(600px) rotateY(180deg);
     transform: perspective(600px) rotateY(180deg);

     -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
}

figure { 
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);

}

figure .frontal,
figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s,

}

figure .frontal {
    display: block;
    backface-visibility: hidden;
}

figure .trasera {
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;

    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media screen and (max-width: 992px) {
    figure .trasera {
        backface-visibility: visible;
        transform: perspective(600px) rotateY(0deg);
    }

    .contenedor_tarjeta:hover figure {
        transform: perspective(600px) rotateY(0deg);
    }
}




