<mat-toolbar color="primary">
    <ul class="menu-nav">
        <li>
            <a routerLink="films" routerLinkActive="active">
                <span class="material-icons">
                    movie
                </span> Films
            </a>
        </li>
        <li>
            <a routerLink="people" routerLinkActive="active">
                <span class="material-icons">
                    perm_contact_calendar
                </span> People
            </a>
        </li>
        <li>
            <a routerLink="planets" routerLinkActive="active">
                <span class="material-icons">
                    language
                </span> Planets
            </a>
        </li>
        <li>
            <a routerLink="species" routerLinkActive="active">
                <span class="material-icons">
                    all_inclusive
                </span> Species
            </a>
        </li>
        <li>
            <a routerLink="starships" routerLinkActive="active">
                <span class="material-icons">
                    flight
                </span> Starships
            </a>
        </li>
        <li>
            <a routerLink="vehicles" routerLinkActive="active">
                <span class="material-icons">
                    commute
                </span> Vehicles
            </a>
        </li>
    </ul>
</mat-toolbar>
<router-outlet></router-outlet>