<mat-toolbar>
    <ul class="menu-nav">
        <li>
            <a routerLink="films" routerLinkActive="active">
                <a>Films<img src="../../../assets/images/v4d3r.png"></a>
            </a>
        </li>
        <li>
            <a routerLink="people" routerLinkActive="active">
                <a>People<img src="../../../assets/images/y0d4.png"></a>
            </a>
        </li>
        <li>
            <a routerLink="planets" routerLinkActive="active">
                <a>Planets<img src="../../../assets/images/c3p0.png"></a>
            </a>
        </li>
        <li>
            <a routerLink="species" routerLinkActive="active">
                <a>Species<img src="../../../assets/images/ch3b4c4.png"></a>
            </a>
        </li>
        <li>
            <a routerLink="starships" routerLinkActive="active">
                <a>Starships<img src="../../../assets/images/f3tt.png"></a>
            </a>
        </li>
        <li>
            <a routerLink="vehicles" routerLinkActive="active">
                <a>Vehicles<img src="../../../assets/images/5tr0mpp3r.png"></a>
            </a>
        </li>
    </ul>
</mat-toolbar>
<router-outlet></router-outlet>