<!--componente films David Orozco nueva version-->
   <app-loader *ngIf="!allDataCompleted; else dataRender"></app-loader>
<ng-template #dataRender>
    <div class="grid-container">
        <div *ngFor="let films of allFilmsResults[page]">
            <app-card-films [datos]="films"></app-card-films>
        </div>
    </div>
    <div class="paginador">
        <button mat-raised-button (click)="page = page > 0 ? page - 1 : 0" [disabled]="page === 0">Anterior</button>
        <button mat-raised-button color="accent" (click)="page = page < allFilmsResults.length - 1 ? page + 1 : allFilmsResults.length - 1" [disabled]="page === allFilmsResults.length - 1">Siguiente</button>
    </div>
</ng-template>

<!-- <div class ="contenedor">
      <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                 <img class= "responsive-img movie-img" src="./assets/imgMovie/a-new-hope.jpg">
				     <br>
                  <span class="card-title grey lighten-4">A New Hope Episode 4</span>
                         <figcaption class="trasera">
                           <p>
								Director: George Lucas
                               Producter: Gary Kurtz, Rick McCallum
                                Release_date: 1977-05-25
								Opening_crawl:A long time ago in a galaxy far, far away ... These are times of civil war. Rebel ships have attacked from a secret base and obtained their first victory against the evil Galactic Empire. [...]During the battle, rebel spies managed to steal the secret planes of the Empire's most extreme weapon, the Death Star, an armored space station powerful enough to destroy an entire planet. [...]Pursued by the sinister agents of the Empire, Princess Leia quickly heads to a house in her spaceship, while guarding the blueprints that can save her people and restore freedom in the galaxy ...
	                    </p>
                           </figcaption>
                </figure>
            </a>
        </div>
		   <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                 <img class= "responsive-img movie-img" src="./assets/imgMovie/the-empire-strikes-back.jpg">
				     <br>
                  <span class="card-title grey lighten-4">The Empire Strikes Back Episode 5</span>
                           <figcaption class="trasera">
                             <p>
                                    Director: Irvin Kershner
                                    Producter: Gary Kurtz, Rick McCallum
                                    Release_date: 1980-05-17
									Opening_crawl:Long ago in a galaxy far, far away ... It is a dark time for the Rebellion.Although the Death Star has been destroyed, the Imperial troops have forced the rebel forces to leave their secret bases and have pursued them across the galaxy. [...] In an escape from the dreaded Imperial Fleet, a group of rebel warriors led by Luke Skywalker has established a new secret base in the remote frozen land of Hoth. [...] Darth Vader, Lord of Evil, obsessed with finding the young Skywalker, has dispatched thousands of remote-controlled probes into far space ...
                               </p>
                           </figcaption>
                </figure>
            </a>
        </div>
		   <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                 <img class= "responsive-img movie-img" src="./assets/imgMovie/return-of-the-jedi.jpg">
				 				     <br>
                  <span class="card-title grey lighten-4">Return of the Jedi Episode 6</span>
                           <figcaption class="trasera">
                             <p>
                                   Director: Richard Marquand
                                     Producter: Howard G. Kazanjian, George Lucas, Rick McCallum
                                     Release_date: 1983-05-25
                                     Opening_crawl:A long time ago in a galaxy far, far [...] away, Luke Skywalker has returned to Tatooine, his home planet, in an attempt to rescue his friend Han Solo from the clutches of vile Jabba. [...]  Luke does not know that the Galactic Empire has secretly started the construction of a new armored space station, even more powerful than the first and feared Death Star. [...] Once completed, this extreme weapon will augur certain death for the small group of rebels fighting to restore freedom in the galaxy ...
                              </p>
                           </figcaption>
                </figure>
            </a>
        </div>
		   <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                 <img class= "responsive-img movie-img" src="./assets/imgMovie/the-phantom-menace.jpg">
				      <br>
                  <span class="card-title grey lighten-4">The Phantom Menace Episode 1</span>
                           <figcaption class="trasera">
                             <p>
							     Director: George Lucas
                                 Producter: Rick McCallum
                                 Release_date: 1999-05-19
                                Opening_crawl:A long time ago in a galaxy far, far away [...] The Galactic Republic is in turmoil.There are protests against the taxation of trade routes to star systems. [...] Hoping to solve the problem with a deadly cruise ship blockade, the greedy Trade Federation has halted all shipments to the small planet of Naboo. [...] As the Congress of the Republic endlessly debates this alarming chain of events, the Supreme Chancellor has secretly dispatched two Jedi Knights, the guardians of peace and justice in the galaxy, to resolve the conflict ...
							  </p>
                           </figcaption>
                </figure>
            </a>
        </div>
		   <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                 <img class= "responsive-img movie-img" src="./assets/imgMovie/attack-of-the-clones.jpg">
				  <br>
                  <span class="card-title grey lighten-4"> Attack of the Clones Episode 2</span>
                           <figcaption class="trasera">
                             <p>
                                  Director: George Lucas
                                  Producter: Rick McCallum
                                  Release_date: 2002-05-16
                                   Opening_crawl:A long time ago, in a galaxy far, far away ... There is unease in the Galactic Senate. Several thousand solar systems have declared their intentions to leave the Republic ... The separatist movement, under the leadership of the mysterious Count Dooku, has made it difficult for the limited number of Jedi Knights to maintain peace and order in the galaxy ... Senator Amidala, the former Queen of Naboo, is returning to the Galactic Senate to vote on the critical issue of forming an ARMY OF THE REPUBLIC to aid the overwhelmed Jedi ...
								   </p>
                           </figcaption>
                </figure>
            </a>
        </div>
		   <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                 <img class= "responsive-img movie-img" src="./assets/imgMovie/revenge-of-the-sith.jpg">
				  <br>
                  <span class="card-title grey lighten-4">Revenge of the Sith Episode 3</span>
                           <figcaption class="trasera">
                             <p>
                                  Director: George Lucas
                                  Producter: Rick McCallum
                                  Release_date: 2005-05-19
                                 Opening_crawl:A long time ago in a galaxy far, far away [...] War! The Republic falls apart under the attacks of the ruthless Count Dooku, lord of the Sith.There are heroes on both sides. Evil is everywhere. [...] In a bold move, the fiendish droid leader, General Grievous, has entered the Republic capital and kidnapped Chancellor Palpatine, leader of the Galactic Senate. [...] As the Separatist Droid Army tries to flee the embattled capital with its valuable hostage, two Jedi Knights lead a desperate mission to rescue the captive Chancellor ... 
								  </p>
                           </figcaption>
                </figure>
            </a>
        </div>
		   <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                 <img class= "responsive-img movie-img" src="./assets/imgMovie/the-force-awakens.jpg">
				  <br>
                  <span class="card-title grey lighten-4">The Force Awakens Episode 7</span>
                           <figcaption class="trasera">
							 <p>
							      Director: J. J. Abrams,
                                  Producter:Kathleen Kennedy, J. J. Abrams,Bryan Burk
                                  Release_date: 2015-12-18
							      Opening_crawl:A long time ago in a galaxy far, far away, [...] Luke Skywalker has disappeared.In his absence, the sinister FIRST ORDER has risen from the ashes of the Empire and will not rest until Skywalker, the last Jedi, has been destroyed. [...] With the support of the REPUBLIC, General Leia Organa leads a brave RESISTANCE. She desperately searches for her brother Luke in order to enlist their help in restoring peace and justice in the galaxy. [...]Leia has sent her boldest pilot on a secret mission to Jakku, where an old ally has uncovered a clue to Luke's whereabouts ...
							  </p>
                           </figcaption>
                </figure>
            </a>
        </div>
		 <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                 <img class= "responsive-img movie-img" src="./assets/imgMovie/the-last-jedi.jpg">
				                  <br>
                  <span class="card-title grey lighten-4">The Last Jedi Episode 8</span>
                           <figcaption class="trasera">
                           <p>{{'
							      Director: Rian Johnson
                                  Producter: Kathleen Kennedy, Ram Bergman
                                  Release_date: 2017-12-15
								  Opening_crawl: A long time ago in a galaxy far, far away [...] The FIRST ORDER reigns. After decimating the peaceful Republic, Supreme Leader Snoke now sends his ruthless legions to take military control of the galaxy. [...] Only General Leia Organa and her group of RESISTANCE fighters oppose the mounting tyranny, convinced that Jedi Master Luke Skywalker will return and restore the spark of hope in the fight. [...] But the Resistance has been exposed. As the First Order heads towards the rebel base, the brave heroes organize a desperate escape ...
							 '}}</p>
                           </figcaption>
                </figure>
            </a>
        </div>
		   <div class="contenedor_tarjeta"> 
            <a href="#">
                <figure>
                 <img class= "responsive-img movie-img" src="./assets/imgMovie/the-rise-of-skywalker.jpg">
                 <br>
                 <span class="card-title grey lighten-4">The Rise of Skywalker Episode 9</span>  
                 <figcaption class="trasera">
                             <p>
							       Director: J.J. Abrams
                                   Producter:Kathleen Kennedy,J. J. Abrams,Michelle Rejwan
                                   Release_date:  2019-12-20
								   Opening_crawl:A long time ago in a galaxy far, far away ... The dead speak! The galaxy has heard a mysterious broadcast, a threat of REVENGE in the sinister voice of the late EMPEROR PALPATINE. [...] GENERAL LEIA ORGANA sends secret agents to gather intelligence, while REY, the last hope of the Jedi, trains for the battle against the diabolical FIRST ORDER. [...] Meanwhile, Supreme Leader KYLO REN Enraged in search of the Ghost Emperor, determined to destroy any threat to his power ...
								   </p>
                           </figcaption>
                </figure>
            </a>
        </div>
</div> -->