<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="card-image" [ngStyle]="{'background-image': 'url('+urlImageFind(datos.name)+')'}">
        </div>
        <mat-card-title>{{ datos.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="urlImageFind(datos.name)" [alt]="datos.name">
    <mat-card-content>
        <ul>
            <li>
                <label>Modelo: </label> {{ datos.model }}
            </li>
            <li>
                <label>Fabricante: </label> {{ datos.manufacturer }}
            </li>
            <li>
                <label>Costo: $ </label> {{ datos.cost_in_credits }}
            </li>
            <li>
                <label>Longitud: </label> {{ datos.length }}
            </li>
            <li>
                <label>Hipervelocidad: </label> {{ datos.hyperdrive_rating }}
            </li>
            <li>
                <label>Clase: </label> {{ datos.starship_class }}
            </li>
        </ul>
    </mat-card-content>
</mat-card>